:root {
    --primary-cyan: hsl(193, 38%, 86%);
    --primary-green: hsl(150, 100%, 66%);
    --gray-blue: hsl(217, 19%, 38%);
    --dark-gray-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
    font-size: 10px;
}
@font-face {
    font-family: Manrope;
    src: url(https://fonts.google.com/specimen/Manrope);
}

@media screen and (min-width: 1440px) {
    
}