:root {
    --primary-cyan: hsl(193, 38%, 86%);
    --primary-green: hsl(150, 100%, 66%);
    --gray-blue: hsl(217, 19%, 38%);
    --dark-gray-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
    font-size: 28px;
}

@font-face {
    font-family: Manrope;
    src: url(https://fonts.google.com/specimen/Manrope);
}

body {
    background-color: var(--dark-gray-blue);
}

.container {
    text-align: center;
    margin: 0 5px;
}

.wrapper {
    background-color: var(--gray-blue);
    margin: 40vh 0;
    border-radius: 7px;
}

.advice-id {
    color: var(--primary-green);
    font-size: 15px;
    letter-spacing: 2px;
    padding: 30px;
}

.advice-box {
    color: white;
    padding: 0 15%; 
}

.divider-box {
    display: flex;
}

.quotation-icon::before, .quotation-icon::after {
    content: " ";
    height: 10px;
    width: 100px;
    background-color: transparent;
    border-bottom: 1px solid var(--primary-cyan);
    padding: 10px 0;
}

.main-button {
    padding: 15px;
    background-color: var(--primary-green);
    border-radius: 50px;

}

@media screen and (min-width: 1440px) {
    
}